{% extends 'base.html' %}

{% block content %}
  <h1>Favorite {{ type_plural|title }}</h1>

  {% for favorite in favorites %}
    <div class="card">
      <img src="{{ favorite.object.image.url }}" alt="{{ favorite.object.title }}" style="width:100%">
      <div class="container">
        <h4><b>{{ favorite.object.title }}</b></h4>
        <p>{{ favorite.object.description }}</p>
        <a href="{% url 'remove_favorite' favorite.id %}">Remove from favorites</a>
      </div>
    </div>
  {% empty %}
    <p>You have no favorite {{ type_plural }}.</p>
  {% endfor %}
{% endblock %}
